@model IEnumerable<Caleb_Liu_Assignment_1.ViewModels.AccountDetailsVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Account</h1>

<p>
    <a asp-controller="Account" asp-action="Create">Add New Bank Account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { accountNum=item.AccountNum }) |
                @Html.ActionLink("Details", "Details", new { accountNum=item.AccountNum}) |
                @Html.ActionLink("Delete", "Delete", new { accountNum=item.AccountNum}) 
            </td>
        </tr>
}
    </tbody>
</table>
